@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.items .feedbackmodal .cont .box .checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  width: 100%;
}
.items .feedbackmodal .cont .box .checkbox .rw {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0;
  width: 400px;
}
.items .feedbackmodal .cont .box .checkbox .rw input {
  height: 18px;
  width: 18px;
  outline: none;
  color: white;
  margin-right: 2%;
}
.items .feedbackmodal .cont .box .checkbox .rw .text-check {
  width: 100%;
  color: #0d1c52;
  font-family: "Merriweather", serif;
  font-size: small;
}
.items .feedbackmodal .cont .box .checkbox .rw p span{
  color: #D22E69;
}
.items .feedbackmodal .cont .box .checkbox .rw input:checked {
  column-fill: white;
  accent-color: #FF71A4;
}
@media screen and (max-width: 600px) {
  .items .feedbackmodal .cont .box .checkbox{
    width: 80%;
  }
  .items .feedbackmodal .cont .box .checkbox .rw {
  }
  .items .feedbackmodal .cont .box .checkbox .rw .text-check {
    width: 90%;
    font-size: 11px;
  }
}