.datepicker-date{
    display: flex;
}
.datepicker-date .divicon{
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 13%;
}
.datepicker-date .icon{
    text-align: center;
    width: 25px;
    height: 25px;
    color: #0D1C52;
    margin-right: 14%;
}
.datepicker-date input  {
    border: none;
    margin-right: 4%;
}
@media screen and (max-width: 600px) {
    .datepicker-date .divicon{
      flex-direction: column;
    }
  }