.body-div .rentlist .items .rent-item .shortitem {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body-div .rentlist .items .rent-item .loading {
  height: 400px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.body-div .rentlist .items .rent-item .shortitem .icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.body-div .rentlist .items .rent-item .shortitem .icons span{
}
.body-div .rentlist .items .rent-item .shortitem .icons span .bike{
   height: 30px;
   width: 30px;
}
.body-div .rentlist .items .rent-item .shortitem .icons span .circle{
   border-radius: 60%;
   height: 20px;
   width: 20px;
   margin-bottom: 15%;
}
.body-div .rentlist .items .rent-item .shortitem .icons span .active{
   background-color: lightgreen;
   color: lightgreen;
}
.body-div .rentlist .items .rent-item .shortitem .icons span .completed{
  background-color: orange;
  color: orange;
}
.body-div .rentlist .items .rent-item .shortitem .icons span .rejected{
  background-color: red;
  color: red;
}
.body-div .rentlist .items .rent-item .shortitem .icons span .notactive{
   background-color: pink;
   color: pink;
}
.body-div .rentlist .items .rent-item .shortitem .item{
  flex: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body-div .rentlist .items .rent-item .shortitem .icons{
  display: flex;
  justify-content: flex-end;
}
.body-div .rentlist .items .rent-item .shortitem .icons .row {
  display: flex;
   font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: bold;
    color: #0C1033;
    margin-right: 1%;
}
.body-div .rentlist .items .rent-item .info-detail *{
  color: red;
}

.body-div .rentlist .items .rent-item .shortitem .icons .left{
  justify-self: flex-start;
  align-self: flex-start;
  font-family: "Mulish";
  font-size: medium;
  display: flex;
}
.body-div .rentlist .items .rent-item .shortitem .item .image{
  flex: 60%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 3%;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns{
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1%;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns .approve{
  background-color: green;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns .reject{
  background-color: red;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns *:is(.approve, .reject):hover{
  opacity: 50%;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns span{
}
.body-div .rentlist .items .rent-item .shortitem .item .btns span *{
  width: 100%;
  height: 50px;
  color: red;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns button{
  width: 35%;
  margin-right: 10%;
  background-color: #0C1033;
  font-size: small;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.body-div .rentlist .items .rent-item .shortitem .item .btns button:hover{
  background-color: #3b4ad3;
}
*/
.body-div .rentlist .items .rent-item .shortitem .item .btns .feedback{
  background-color: #F870A0;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns .resolved{
  background-color: lightgrey;
  color: black;
  cursor: default;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns .resolved span{
  color: black;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns .end{
  background-color: #3b4ad3;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns .feedback:hover:not(.resolved){
  background-color: #EC9EBD;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns .resolved:hover{
}
.body-div .rentlist .items .rent-item .shortitem .item .btns button .ic{
  font-size: medium;
}
.body-div .rentlist .items .rent-item .shortitem .item .btns button span{
  font-size: small;
  color: white;
  border: none;
  margin: 0 2%;
}
@media screen and (max-width: 600px) {
  .body-div .rentlist .items .rent-item h2 {
    font-size: smaller;
    color: red;
  }
  .body-div .rentlist .items .rent-item .shortitem .icons .row {
    font-size: smaller;
  }
  .body-div .rentlist .items .rent-item .shortitem .item .image{
    flex: 60%;
    width: 50%;
    height: 90%;
  }
  .body-div .rentlist .items .rent-item .shortitem .item .btns button span{
    font-size: small;
  }
  .body-div .rentlist .items .rent-item .shortitem .item .btns{
    flex: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .body-div .rentlist .items .rent-item .shortitem .item .btns button{
    width: 45%;
    margin-right: 0;
    margin: 0 5%;
  }
  .body-div .rentlist .items .rent-item .shortitem .item .btns button .ic{
    font-size: medium;
    height: 15px;
    width: 15px;
  }
  .body-div .rentlist .items .rent-item .shortitem .item .btns button span{
    font-size: small;
  }
  .body-div .rentlist .items .rent-item .shortitem .item{
    flex-direction: column;
    text-align: center;
  }

}