@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-toggle {
  font-size: 1.5rem;
  color: rgb(28, 77, 238);
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  display: none;
}
.nav-toggle:hover {
  transform: rotate(90deg);
  color: hsl(205, 86%, 17%);
}
.header-div {
  display: flex;
  margin: 0 10%; 
  background: radial-gradient(circle, rgba(76,115,245,1) 0%, rgba(178,172,243,1) 100%);
/*  box-shadow: 7px 9px 8px rgba(76,115,245,1);*/
  border-radius: 10px;
  margin-bottom: 2%;
  margin-top: 0.5%;
}
.header-div .row{
  display: flex;
  justify-content: center;

}
.header-div .logo {
  text-align: center;
  flex: 20%;
  margin: 0px 50px;
}
.header-div .logo img {
  height: 110px;
  width: 110px;
  border-radius: 25px;
  padding: 5%;
}
.header-div nav {
  margin-top: 2%;
/*  background: linear-gradient(to right, grey, black);*/
  flex: 80%;
  height: 70px;
  text-align: center;
  transition: all 0.3s linear;
  border-radius: 20px;
}
.header-div nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-div nav ul a {
  text-decoration: none;
  display: block;
  padding: 20px 20px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: large;
}
.header-div nav ul a:hover:not(.active) {
  border-bottom: 3px solid violet;
/*  background-color: #4d78ff;*/
}
.header-div nav ul .active {
  border-bottom: 3px solid rgb(28, 77, 238);
/*  background-color: #4d78ff;*/
}
.header-div nav .text-div {
  color: white;
  padding: 20px 5px;
  font-style: oblique;
}
.showNav {
  display: block;
}
.notShow {
  display: none;
}
.header-div nav .auth p{
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
}
.header-div nav .auth button{
  background-color: transparent;
  border-radius: 10px;
  border: none;
  font-size: medium;
  padding-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .header-div {
    flex-direction: column;
    transition: all 0.3s linear;
    margin: 0px;
  }
  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
  }
  .logo {
    flex: 5;
    margin-top: 5%;
  }
  .header-div .logo img {
    height: 80px;
    width: 80px;
  }
  .showNav {
  display: block;
  transition: all 0.3s linear;
  }
  .notShow {
    display: none;
  }
  .nav-toggle {
    margin-right: 5%;
    flex: 0;
  }
  .header-div nav ul {
    flex-direction: column;
    background: linear-gradient(120deg, aqua, violet);
  }
  .header-div nav ul a:hover{
    border-bottom: 2px solid violet;
    margin: 0px 25%;
    color: white;
  }
  .header-div nav ul .text-div {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin: 5%;
  }
}
@media screen and (min-width: 1000px) {
  .header-div nav {
    display: block;
    transition: all 0.3s linear;
  }
}
/* #4D78FF
  #B2ACF3
*/
