.body-div-vehicle .vehicle-div div .div-image .images {
  flex: 80%;
  height: 80%;
  width: 85%;
  margin-top: 25%;
  margin-left: 15%;
  border: none;
  display: flex;
}
.body-div-vehicle .vehicle-div div .div-image .images .main img {
  height: calc(500px * 9/16);
  width: calc(500px * 9/16);
  border-radius: 0px;
  transform: rotate(5deg);
  border: none;
  box-shadow: 10px 10px 10px grey;
}
.body-div-vehicle .vehicle-div div .div-image .slider {
  margin-top: 7%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.body-div-vehicle .vehicle-div div .div-image .slider .slide {
  height: 80px;
  flex: 10%;
  margin-right: 1%;
}
.body-div-vehicle .vehicle-div div .div-image .slider .slide img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.body-div-vehicle .vehicle-div div .div-image .slider .slide .active {
  border: 2px solid #FF71A4;
  padding: 2px;
  transition: all 0.2s linear;
}
.body-div-vehicle .vehicle-div div .div-image .slider .active {
  box-shadow: 1px 1px 7px #FF71A4;
}

