@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
}

.pagination-rental{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin-top: 1%;
}
.pagination-rental button{
  width: 5%;
  margin: 1%;
  background-color: whitesmoke;
  color: black;
  border-radius: 13%;
}
.pagination-rental button:disabled{
  background-color: lightgray;
  cursor: not-allowed;
}
.pagination-rental .current{
  background-color: lightblue;
}
.pagination-rental *:is(.last, .first){
  background-color: grey;
}