.home-div .items .tabs{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5%;
  background-color: #898B9C;
  margin-bottom: 3%;
}
.home-div .items .tabs .tab{
  text-transform: capitalize;
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: medium;
  font-weight: normal;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 1% 6%;
  text-align: center;
}
.home-div .items .tabs .active{
  background-color: hsl(205, 86%, 26%);;
}
.home-div .items .tab:hover:not(.active){
  color: black;
}