.items .content{
    background-color: white;
}
.items .content .cont{
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    background-color: white;
    cursor:default;
}
.items .content .cont .close{
    flex: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 3%;
}
.items .content .cont .close:hover{
    color: grey;
}