.box .timeline {
  flex: 55%;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 4%;
  padding-bottom: 6%;
}
.box .timeline .row {
  display: flex;
}
.box .timeline .row .graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box .timeline .row .graphic .line {
  height: 75px;
  width: 2px;
  border-right: 1px solid #60679f;
}
.box .timeline .row .graphic .circle {
  height: 15px;
  width: 15px;
  border: 1px solid #60679f;
  border-radius: 50%;
}
.box .timeline .row .graphic .active {
  border: 5px solid #60679f;
}

.box .timeline .row .text .head {
  font-size: small;
  font-family: "Poppins", sans-serif;
  color: #10153e;
  margin-left: 5%;
}
.box .timeline .row .text .sub {
  font-size: smaller;
  font-family: "Poppins", sans-serif;
  color: #60679f;
  margin-left: 5%;
}
@media screen and (max-width: 600px) {
  .box .timeline {
    width: 15%;
    height: 50px;
  }
  .box .timeline {
    flex: 40%;
  }
}