@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body-div {
  display: flex;
  padding-top: 3%;
  justify-content: center;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-color: #DDE1F9;;
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container-register {
  background-color: white;
  box-shadow: 3px 3px 10px rgb(194, 192, 192);
  height: 50%;
  border-radius: 10px;
  width: 45%;
  padding: 0;
  margin: 3%;
}
.container-register .text {
  text-align: center;
  margin-top: 10%;
}
.container-register .tabs {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 0 20%;
  margin-top: 4%;
  background-color:#E0C3FC;
}
.container-register .tabs div{
  justify-self: flex-end;
  font-weight: bold;
  font-family: "Mulish";
  width: 100%;
  text-align: center;
  padding: 2%;
  cursor: pointer;
}
.container-register .tabs div:hover:not(.active){
  background-color: #c58ff8;
}
.container-register .tabs .active{
  background-color: #5c616e;
  color: white;
}
.container-register .text h3 {
  font-style: bold;
  color: #6a7187;
  font-family: "Lato";
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}
.container-register .text p {
  font-weight: 200;
  color: #80879b;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
.container-register form {
  border: none;
  background-color: white;
  box-shadow: none;
  width: 70%;
  margin-top: 0;
  height: auto;
}
.container-register form .row {
  width: 100%;
  margin: 0;
}
.container-register form .roles {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.container-register form  .roles .role{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #E5EDFF;
  border-radius: 8%;
  width: 100%;
  height: 60px;
  margin: 0 2%;
  padding: 8% 3%;
}
.container-register form  .roles .role{
  border: 2px solid lightgrey;
  padding: 10%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 25%;
}
.container-register form  .roles .role:hover:not(.active){
  box-shadow: 1px 1px 7px lightgrey;
}
.container-register form  .roles .active{
  box-shadow: 1px 1px 7px violet;
}
.container-register form  .roles .role .icon{
  color: #0d1c52;
  font-size: x-large;
}
.container-register form  .roles .role .text{
  color: #0d1c52;
  font-size: small;
  font-style: normal;
  text-transform: capitalize;
  font-family: "Mulish";
}
.container-register form .row span{
  color: red;
  font-family: "Mulish";
  font-size: x-small;
  font-style: italic;
  text-transform: lowercase;
}
.container-register form .row-50 {
  width: 100%;
  display: flex;
}
.container-register form label {
  color: #5c616e;
  text-transform: uppercase;
  font-family: "Lato";
  margin: 10px 0px;
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
  font-size: x-small;
}
.container-register form .label-50 {
  width: 50%;
}
.container-register form .label .textmsg {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  height: 0px;
  width: 30%;
  top: 5%;
  left: 20%;
  border: 1px solid #0d1c52; 
  border: none;
  background-color: #8f9dce;
  border-radius: 6px;
}
.container-register form .label .textmsgShow {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  height: auto;
  width: auto;
  top: 100%;
  left: 5%;
  border: 1px solid #0d1c52; 
  border: none;
  padding: 1%;
  background-color: #8f9dce;
  border-radius: 6px;
  font-size: x-small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3%;
}
.container-register form .label span {
  cursor: pointer;
}
.container-register form .label span .infoIcon{
  color: #0d1c52; ;
  width: 15px;
  height: 20px;
  padding-top: 1%;
  margin-left: 4px;
  margin-top: 5px;
}
.container-register form .label span .infoIconRed{
  color: red; ;
}
.container-register form .right {
}
.container-register form input {
  width: 100%;
  padding: 20px;
  font-size: x-small;
  padding-left: 30px;
  border-radius: 0;
  border: 0.5px solid #a6a9b4;
  color: #202124;
  font-style: bold;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.container-register form select {
  width: 100%;
  padding: 10px 20px;
  font-size: x-small;
  padding-left: 30px;
  border-radius: 0;
  border: 0.5px solid #a6a9b4;
  color: #7c7e82;
  font-style: bold;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
  background-color: white;
}
.container-register form .input-50 {
  width: 50%;
  margin-bottom: 3%;
}
.container-register form .input-50:nth-child(2) {
  border-left: none;
}
.container-register form input:focus {
  background-color: whitesmoke;
}
.container-register form .check {
  text-align: left;
}
.container-register form .check #rememberCheck {
  width: 45%;
  text-transform: none;
  float: left;
  padding-left: 10px;
  margin: 15px 0;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}

.container-register form .check input {
  float: left;
  width: 30%;
  padding: 0;
  height: 20px;
  border: 0.4px solid #6a7187;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
}
.container-register form .check .checkbox {
  text-transform: none;
  width: 10%;
  left: 0;
  cursor: pointer;
  margin-top: 15px;
}
.container-register form .check #forgotLabel {
  text-transform: none;
  color: #9679ff;
  font-family: "Lato";
  float: right;
  width: 45%;
  margin: 15px 0;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}
.container-register form .check::after {
  content: "";
  clear: both;
  display: table;
}
.container-register form input[type="submit"], .continueBtn {
  background-color: #4d78ff;
  text-align: center;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 7px #91a9ff;
  color: white;
  padding: 0;
  margin: 20px 0;
  background: linear-gradient(to right, #4c73f5, #b2acf3);
  cursor: pointer;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: small;
}

.container-register form p {
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: medium;
  color: #b2acf3;
  padding: 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 1200px) {
  .container-register form {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .container-register {
    top: 60%;
    margin-top: 16%;
  }
}
@media screen and (max-width: 600px) {
  .container-register form {
    width: 100%;
  }
  .container-register {
    width: 80%;
    left: 10%;
  }
}
